<p>Commit History</p>

<div>

</div>

<table>

  <td *ngFor="let commit of commits">
    <tr>
      <td>
        Author:
      </td>
      <td>
        {{commit.author}}
      </td>
    </tr>
    <tr>
      <td>
        Message:
      </td>
      <td>
        {{commit.message}}
      </td>
    </tr>
    <tr>
      <td>
        Time:
      </td>
      <td>
        {{commit.time}}
      </td>
    </tr>
    <tr>
      <td>
        Hash:
      </td>
      <td>
        {{commit.hash}}
      </td>
    </tr>
  </td>
</table>



